{% extends 'layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h1>Welcome to the Aplicacion:index page</h1>

            <p>idioma: {{lang}}</p>
            <p>catalgo: {{catalog}}</p>
            <p>Aplicación: {{aplicacion}}</p>


        </div>
    </div>
{% endblock %}
